/Beispiel1/nbproject/private/
/Beispiel2/nbproject/private/
/Beispiel3/nbproject/private/
/Beispiel4/nbproject/private/
/Beispiel4/build/
/Beispiel1/build/
/Beispiel2/6 H Streams/build/
/Beispiel2/6 H Streams/dist/
/Beispiel2/6 H Streams/nbproject/private/
/Beispiel3/build/